/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 1, 2017, 4:46:42 PM
    Author     : yoni
*/
@CHARSET "ISO-8859-1";
body{
	font:normal 10pt Arial,Helvetica,sans-Serif;
	margin: 0;
	/*padding: 0;*/
	text-align: center;
	color: #333333;
        padding-top:50px;
}
.page #mainpage{
	width: 960px;
	height: auto;
	background: #FFFFFF;
	margin: 0 auto;
	border: 1px solid #ccc;
	text-align: center;
}
.page #header{
	font:normal 10pt Arial,Helvetica,sans-Serif;
	margin: 0;
	padding: 15px;
	border: 1px solid #ccc;
	text-align: center;
	color: #333333;
}
.page #header h1{
	margin: 0;
	padding: 10px 0;
	position: relative;
}
.page #header a{
	color: #555;
	text-decoration: none;
}
.page #links{
	float: left;
	width: 190px;
	padding: 15px 1px;
}
.page #main{
	margin: 0 240px 0 0;
	padding: 0 5px;
	padding-left: 230px;
}
.sidebarmenu{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: black;
}
.sidebarmenu ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font: bold 13px verdana;
	width: 180px;
	border-bottom: 1px solid #333;
}
.sidebarmenu ul li{
	position: relative;
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
.sidebarmenu ul li a{
	font:normal 10pt Arial,Helvetica,sans-Serif;
	display: block;
	overflow: auto;
	color:#FFFFFF;
	margin: 1px;
	text-decoration:none;
	padding: 6px;
	border-bottom: 1px solid #778;
	border-right: 0px solid #778;
}
.sidebarmenu ul li a:link, .sidebarmenu ul li a:visited, .sidebarmenu ul li a:active{
background-color: Black; /*background of tabs (default state)*/
}

.sidebarmenu ul li a:visited{
color: white;
}
.sidebarmenu ul li a:hover{
background-color: #025F68;
}
table .bidtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table .bidtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table .bidtable td {
	padding: 4px;
	background-color: #ffffff;
}

.container {
    width: 50%;
    margin: 0 auto;
}
.label-group{
    float:left;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#login-dp .help-block{
    font-size:12px    
}

#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.errvalidation {
    display: none;
    font-style: italic;
    color: red;
}

/*.confirmMessage {
    display: none;
    font-style: italic;
    color: red;
}*/
/*#errFirstname {
    display: none;
}*/

/*input[type="password"]{
	border:1px solid #456879;
	border-radius:3px;
	height: 22px;
	width: 230px;
}
input[type="text"]{
	border:1px solid #456879;
	border-radius:3px;
	height: 22px;
	width: 230px;
}
input[type="submit"]{
	border:1px solid #456879;
	border-radius:3px;
}
input[type="button"]{
	border:1px solid #456879;
	border-radius:3px;
}
input[type="reset"]{
	border:1px solid #456879;
	border-radius:3px;
}*/
/* for IE */
* html .sidebarmenu ul li{ 
	float: left; height: 1%; 
}
* html .sidebarmenu ul li a{ 
	height: 1%; 
}


.form-control {
    width: 95%;
}
label small {
    color: #678 !important;
}
span.req {
    color:maroon;
    font-size: 112%;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

